body{
    margin: 0;
    }
    
    .logo{
    width: 150px;
    }
    
    img{
    width: 550px;
    }
    
    .container{
    width: 1200px;
    margin: 0 auto;
    }
    
    .header-flex,
    .hero-flex,
    .dough-flex,
    .filling-flex,
    .footer-flex
    {
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    
    .footer-flex{
    justify-content: center;
    }
    
    .header{
    background-color:brown
    }